body{
    margin: 0;
    padding: 0;
    font-size: 1rem;
} 
ul{
    padding: 0;
}
a{
    color: $primary_font_color;
    cursor: pointer;

    &:hover{
        color: $primary_font_color;
        text-decoration: none;
    }

}

abbr{
    text-decoration: none;
}
 