html{
    font-size: $primary_font_size;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color: $body_bg_color;
    color: $primary_font_color;
}