.widget{
    background-color: $bg_color;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.42);
    margin-bottom: 20px;

        h2{
            font-size: 1.142rem;
            font-weight: $bold_font_weight;
        }
        
        li{
            list-style: none; 
            border-bottom: 1px solid #e8e8e8;
        }

        a{
            font-weight: $normal_font_weight;
            padding: 10px 6px;
            display: block;
            
            &:hover{
                color: $red;
            } 
        }
}