/*******************font*****************/ 
$primary_font_size: 14px;

$light_font_weight: 400;
$normal_font_weight: 500;
$semi_bold_font_weight: 600;
$bold_font_weight: 700;
$bolder_font_weight: 800;

/******************color*****************/
$bg_color: #fff;
$body_bg_color: #FAFAFA;
$input_bg_color: #F7F7F7;
$primary_font_color: #757575;
$red: #F44336; 

/**************form*******************/ 
$border_color: #E7E7E7;



